extends layout
head

block content
  div(class="container-fluid")
    h1= title
    p Welcome to #{title}!
  div(class="btn-group btn-group-justified")
    div( class="btn-group")
      button#buttonRenewableByIndex(class="btn btn-primary") by Index
    div( class="btn-group")
      button#buttonRenewableByYear(class="btn btn-primary") by Year
    div( class="btn-group")
      button#buttonAllRenewables(class="btn btn-primary") Get All
  div(class="btn-group btn-group-justified")
    div( class="btn-group")
      input(type="number" value="0" class="form-control")#inputIndex
    div( class="btn-group")
      input(type="number" value="2016" class="form-control")#inputYear
    div( class="btn-group")
      p &nbsp
  div
    pre#output(class="well")
    output#debug
