extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    button#read Read
    button#readJSON Read JSON
  pre#display
  button#readDerp Read derp

  input#adda(type="number" style="color:green" tabindex=1 autofocus=true value=7)
  input#addb(type="number" style="color:green" tabindex=2 value=7)
  button#add(tabindex=3) add
  output#addout