body{
    background-color:#f3ebf5;
    background: repeating-linear-gradient(
  60deg,
  rgb(245, 237, 245),
  rgb(245, 236, 255) 1em,
  rgb(245, 229, 253) 1em,
  rgb(240, 235, 245) 2em
);
    color:          darkcyan;
    font-family:    Arial, Helvetica, sans-serif;
    margin:         0px 0px;
}
html, body{
    height : 100%;
}
h1{
    background: lightgoldenrodyellow;
    background: linear-gradient(to right, lightyellow, rgba(255, 255, 255, 0.02));
    color:      gold;
    margin:     0px;
    padding:    0.2em;
    width:      15em;

}

.flexrow{
    display:        flex;
    flex-flow:      row wrap;
    justify-content:space-around;
}
.flexcol{
    border-left:    dashed lightgoldenrodyellow;
    display:        flex;
    flex-flow:      column wrap;
    padding:        2%;
    justify-content:flex-start;
    align-items:    flex-start;
    vertical-align: top;
    text-align:     left;

}
